.navbar {
  overflow: hidden;
  background-color: #31cacf;
  position: fixed;
  top: 0;
  width: 100%
}

.navbar a {
  display: inline-block;
  color: #000000;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
}

a:link {
  color: black;
}

a:visited {
  color: white;
}

a:hover {
  color: #f90981
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

.intro-image {
  padding-top: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@keyframes intro {
  from {background-color: #f5b5d5}
  to {background-color: #ffffff}
}

h1 {
  border-radius: 7px;
  border-style: solid;
  border-color: #31cacf;
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  animation-name: intro;
  animation-duration: 3s;
}

p {
  float: right;
  text-align: justify;
  font-size: 25px;
}
